/* MODAL */
#modalMensage {
    background-color: #ffffff42;
}

#modalMensage .modal-header {
    background-color: #302587;
    color: white;
}

#modalMensage .modal-header h1 {
    font-family: 'Montserrat';
}

#modalMensage .modal-body p#mensage {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 19px;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat';
    color: white;
    font-weight: 800;
}

h1 {
    margin-bottom: 20px;
}
body {
    background: linear-gradient(to right, #302587, white);
}

.login, .cadastro {
    padding: 0px 100px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    border-radius: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff42;
    color: #fff;
    font-family: "Montserrat", monospace;
    font-weight: 400;
    font-style: italic;
}