@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}

/* MODAL */
#modalMensage {
    background-color: #ffffff42;
}

#modalMensage .modal-header {
    background-color: #302587;
    color: white;
}

#modalMensage .modal-header h1 {
    font-family: 'Montserrat';
}

#modalMensage .modal-body p#mensage {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 19px;
}


.info {
	display: flex;
	flex-wrap: wrap;
}

.info .clientes {
	background: linear-gradient(#ffffffa6, #ffffffa6), url('../image/clientes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 90px 40px;
	border-radius: 20px;
	width: 540px;
}

.info .clientes p {
	font-family: 'Josefin Sans';
	color: black;
	font-size: 17px;
}

.info .clientes span {
	font-family: 'Montserrat';
	font-size: 36px;
	font-weight: 800;
}

.main-content {
    width: calc(100% - 6.5rem);
    min-height: 100vh;
    box-sizing: border-box;
    padding: 20px;
}