.btn-check {
    background-color: red;
}

.btn-primary {
    background: #EA6910;
    border: none;
    padding: 13px 35px;
    transition: 0.6s;
}

.btn-primary:hover {
    background: #9e460b;
    transform: scale(1.1);
}

#novoCliente {
    padding: 40px;
}

#novoCliente h5 {
    font-family: 'Josefin Sans';
    font-size: 30px;
}

.icon-op {
    color: #ea6910;
    font-size: 18px;
}