.card {
    background-color: #ea6814;
    color: #fff;
    border-radius: 0;
    padding: 20px;
}

a {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
    
}

.card p {
    font-size: 18px;
}

.card h5 {
    font-size: 20px;
    font-weight: bold;
}